@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Original */
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@font-face {
  font-family: "FlandersArtSans";
  src: url("/fonts/FlandersArtSans-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "FlandersArtSans";
  src: url("/fonts/FlandersArtSans-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "FlandersArtSans";
  src: url("/fonts/FlandersArtSans-Bold.woff") format("woff");
  font-weight: bold;
}

/* added for react aria start kit */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

body {
  /* @apply bg-white dark:bg-zinc-900;
  color-scheme: dark light; */
  font-family: "FlandersArtSans", sans-serif;
}
